body {
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: thistle;
  min-height: 100vh;
}

.app {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.navbar {
  display: flex;
  flex-direction: column;
  width: 20vw;
  min-width: fit-content;
  background-color: #333;
  color: white;
  height: 100vh;
  left: 0;
  top: 0;
  position: fixed;
}

.header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 0;
  color: white;
  text-align: center;
  border-bottom: 1px solid #444;

}

.greeting {
  display: flex;
  justify-content: center;
  align-items: left;
  min-width: 20vw;
  padding: 1rem 0;
  text-align: center;
  border-bottom: 1px solid #444;
}

.navbar-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.navbar-list li {
  width: 100%;
}

.navbar-list a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  padding: 1.5rem;
  display: block;
  width: auto;
  box-sizing: border-box;
}

.navbar-list a:hover {
  color: #f39c12;
  background-color: #444;
  width: auto;
}

/* Main content area */
main {
  width: 80vw;
  min-width: fit-content;
  margin-left: 20vw;
  padding-left: 100px;
}