.home-container {
  background-color: rgba(234, 234, 255, 0.881);
  min-width: 100vw;
  height: 100vh;
  min-height: fit-content;
  margin: 0;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.home-container h1 {
  font-family: 'Cabin Sketch', cursive;
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
  margin: 30px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.instructions {
  background-color: rgba(208, 180, 208, 0.352);
  margin: 20px;
  justify-self: center;
  width: fit-content;
  padding: 20px;
  border-radius: 20px;;
}
