body{
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #FDF1D9;
}

.headingcss{
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
    color: #FCD6D6;
}