/* Global styles for the application */
:root {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #2c3e50;
  --color-lightest: #F6F1E8;
  --color-light: #F4E0D2;
  --color-medium: #E4D0C5;
  --color-dark: #D7BCA9;
  --color-base: #DAD3CC;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.body {
  background-color: var(--color-base);
  background-image: url('/background.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  width: 100vw;
  min-height: 100vh;
}

button {
  font-family: inherit;
}

input,
select,
textarea {
  font-family: inherit;
}

* {
  outline: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  background-color: rgba(246, 241, 232, 0.85);  /* F6F1E8 with 85% opacity */
  max-width: 1250px;
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  border-radius: 14px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 15px;
  font-weight: 500;
  backdrop-filter: blur(10px);
} 